In [1]:
import numpy as np
import pandas as pd
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [2]:
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

In [3]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [4]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [5]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [6]:
df.describe()

DataFrame[summary: string, n: string, group: string]

In [7]:
df.select('n','abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [8]:
df.select('group','abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [9]:
col = df.abool
col

Column<'abool'>

In [10]:
df.select('group', col.alias('a_boolean_values')).show(3)

+-----+----------------+
|group|a_boolean_values|
+-----+----------------+
|    z|           false|
|    x|           false|
|    z|           false|
+-----+----------------+
only showing top 3 rows

In [11]:
col = df.n

In [12]:
df.select('group', col.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

---

In [13]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [14]:
df.select(df.n +4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

In [15]:
df.select(df.n -5).show(5)

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
+-------------------+
only showing top 5 rows

In [16]:
col = df.n * 5
col

Column<'(n * 5)'>

In [17]:
df.select('n', col.alias('n x 5')).show(5)

+--------------------+--------------------+
|                   n|               n x 5|
+--------------------+--------------------+
|  -0.712390662050588| -3.5619533102529397|
|   0.753766378659703|  3.7688318932985148|
|-0.04450307833805...|-0.22251539169026727|
| 0.45181233874578974|   2.259061693728949|
|  1.3451017084510097|  6.7255085422550485|
+--------------------+--------------------+
only showing top 5 rows

In [18]:
col = df.n * -1
col

Column<'(n * -1)'>

In [19]:
df = df.select('n', col.alias('n2'))

In [22]:
df.show(5)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
|  1.3451017084510097| -1.3451017084510097|
+--------------------+--------------------+
only showing top 5 rows

In [21]:
col = df.n * -1
col

Column<'(n * -1)'>

In [25]:
df = df.select('n','n2', col.alias('n3'))

In [26]:
df.show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|-0.45181233874578974|
|  1.3451017084510097| -1.3451017084510097| -1.3451017084510097|
+--------------------+--------------------+--------------------+
only showing top 5 rows

In [29]:
#this will not do anything
# df.group + df.abool

AttributeError: 'DataFrame' object has no attribute 'group'

In [ ]:
# will also not do anything
#df.select(df.group + df.abool)

In [33]:
#adds the columns together
df.select(df.n2 + df.n3).show(5)

+-------------------+
|          (n2 + n3)|
+-------------------+
|  1.424781324101176|
| -1.507532757319406|
|0.08900615667610691|
|-0.9036246774915795|
|-2.6902034169020195|
+-------------------+
only showing top 5 rows

In [34]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [35]:
df.printSchema

In [36]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

In [39]:
#casts abool as int
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [40]:
#shows us the results
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [41]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

In [42]:
#they all became null because the groups cannot be converted to integers
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

In [43]:
#rounds to nearest integer
df.select(df.n.cast('int')).show()

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
|  0|
|  1|
| -1|
|  0|
| -1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  2|
|  0|
|  0|
+---+

In [45]:
#turned them into strings
df.select(df.abool.cast('string')).show()

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
| true|
|false|
| true|
+-----+

In [46]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [58]:
from pyspark.sql.functions import sum, mean, concat, lit, regexp_extract, regexp_replace, when, max, min

In [57]:
df.select(max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [59]:
df.select(min(df.n)).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [56]:
df.select(mean(df.n)).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885217|
+------------------+

In [61]:
df.select(concat(lit('Group:'), df.group)).alias('new_group').show(5)

+---------------------+
|concat(Group:, group)|
+---------------------+
|              Group:z|
|              Group:x|
|              Group:z|
|              Group:y|
|              Group:z|
+---------------------+
only showing top 5 rows